.timer-container{
    display: flex;
    flex-direction: column;
    place-items: center;
    min-height: 50vh;
    width: 400px;
    background-color: #F4F3F2;
    padding: 20px;
    font-family: Arial;
    border-radius: 20px;
    border: 2px solid #bdbcbc;
    box-shadow: 0 2px 6px #bdbcbc;
}

.timer-display{
    border: 2px solid #bdbcbc;
    padding: 20px;
    margin: 20px;
    font-size: 48px;
    background-color: #d9f3e7;
    border-radius: 20px;
    box-shadow: 0 2px 6px #bdbcbc;
}

.timer-controls{
    display: flex;
    justify-content: center;
}

.timer-controls button{
    background-color: #FC912E;
    border: none;
    color: #fff;
    padding: 15px 32px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.timer-controls button:hover{
    background-color: #0046d5;
}

.timer-laps{
    width: 100%;
}

.timer-laps ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.timer-laps li{
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
}

.timer-laps li:nth-child(odd){
    background-color: #ddd;
}